# ============ Unity =============
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# ============ IDE ===============
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.unityproj

# ============ OS ================
.DS_Store
Thumbs.db

# ============ User Settings =====
UserSettings/